name: release

on: 
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:

  release:
     
    timeout-minutes: 15

    runs-on: ubuntu-latest

    steps:

      - name: only allow pull request from development
        if: github.head_ref != '' && github.head_ref != 'development'
        run: |
          echo "pull request from ${{ github.head_ref }} is not allowed"
          exit 1

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Checkout all branches and tags

      - name: setup
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git config advice.detached head false
          npm set "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}"
          echo "GH_TOKEN=${{ github.token }}" >> $GITHUB_ENV
          echo "ISSUE_URL=${{ github.api_url }}/repos/${{ github.repository }}/issues/${{ github.event.number }}" >> $GITHUB_ENV

      - name: install dependencies
        run: npm install

      - name: lerna bootstrap
        run: npx lerna bootstrap

      - name: Run test
        run: npx lerna run test --stream

      - name: commit and merge into GITHUB_BASE_REF
        run: |
          git add .
          git commit -m "commit $GITHUB_REF_NAME by $GITHUB_JOB" || true
          git branch temporary-work
          git checkout $GITHUB_BASE_REF 
          git merge temporary-work -m "merge $GITHUB_REF_NAME by $GITHUB_JOB" || true

      - name: get BUMP from pull request title
        run: bin/get-pr-bump

      - name: version & publish
        run: |
          npx lerna version $BUMP --exact --conventional-commits --conventional-graduate --create-release=github --yes
          npx lerna publish from-git --yes --dist-tag latest

      - name: update lerna.json version to development
        run: |
          cp lerna.json /tmp
          git checkout development
          git pull
          cp /tmp/lerna.json .
          git add .
          git commit -m "update lerna.json version by $GITHUB_JOB" || true
          git push || true