name: release
on: 
  pull_request:
    branches:
      - main
    types: 
      - opened
      - synchronize
    paths-ignore:
      - '.github/**'
      - '**.md'
      - 'images/**'
  workflow_dispatch:

jobs:

  release:

    timeout-minutes: 15

    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Checkout all branches and tags

      - name: setup git config
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

      - name: setup npm credential
        run: npm set "//registry.npmjs.org/:_authToken=$NPM_TOKEN"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: build GITHUB_ENV
        run: echo "GITHUB_TOKEN=${{ s}}" >> $GITHUB_ENV
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_PASS }}

      - name: checkout development
        run: git checkout development && git pull

      - name: install dependencies
        run: npm install

      - name: lerna bootstrap
        run: npx lerna bootstrap

      - name: Run test
        run: npx lerna run test --stream

      - name: git add and commit
        run: git add . && git commit -m "updated by e2e-plus" || true

      - name: checkout main
        run: git checkout main && git pull

      - name: disable main branch protection
        run: bin/disable-protection

      - name: merge into main
        run: git merge development

      - name: install dependencies
        run: npm install

      - name: lerna bootstrap
        run: npx lerna bootstrap
    
      - name: Run test
        run: npx lerna run test --stream

      - name: git add and commit
        run: git add . && git commit -m "updated by e2e-plus" || true

      - name: enable main branch protection
        if: always()
        run: bin/enable-protection

      - name: version and publish
        run: |
          npx lerna version --conventional-commits --conventional-graduate --create-release=github --yes
          npx lerna publish from-git --yes
        env:
          GH_TOKEN: ${{ secrets.ACCESS_PASS }}

      - name: checkout development
        run: git checkout development && git pull
      
      - name: merge into development
        run: git merge main