name: tests

on:
  pull_request:
    branches:
      - development
  workflow_dispatch:

jobs:

  tests:

    timeout-minutes: 15

    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Checkout all branches and tags

      - name: setup
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git config advice.detachedHead false
          npm set "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}"
          [ -z "${{ secrets.GH_TOKEN }}" ] && echo "GH_TOKEN=${{ github.token }}" >> $GITHUB_ENV || echo "GH_TOKEN=${{ secrets.GH_TOKEN }}" >> $GITHUB_ENV
          echo "BASE_URL=https://$GITHUB_REPOSITORY_OWNER:$GH_TOKEN@github.com/${{ github.repository }}.git" >> $GITHUB_ENV
          echo "API_URL=${{ github.api_url }}/repos/${{ github.repository }}" >> $GITHUB_ENV
          echo "IS_FORK=${{ github.event.pull_request.head.repo.fork }}" >> $GITHUB_ENV
          .github/bin/is-collaborator

      - name: install dependencies
        run: npm install

      - name: lerna bootstrap
        run: npx lerna bootstrap

      - name: Run test
        run: npx lerna run test --stream

      - name: not forked pull request merge
        if: env.IS_COLLABORATOR == 'true' && env.IS_FORK != 'true'
        run: .github/bin/pr-merge-simple

      - name: forked pull request merge
        if: env.IS_COLLABORATOR == 'true' && env.IS_FORK == 'true'
        run: .github/bin/pr-merge-forked

      - name: version & publish
        if: env.IS_COLLABORATOR == 'true'
        run: |
          npx lerna version --exact --conventional-commits --conventional-prerelease --preid beta --yes
          npx lerna publish from-git --yes --dist-tag beta

      - name: finish the commit
        if: env.IS_COLLABORATOR == 'true'
        run: .github/bin/finish-commit
